body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

.cabecalho {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  gap: 40px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  text-transform: uppercase;
}

a,
.btn-VerMais {
  text-decoration: none;
  color: black;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
}

.conteudo {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info {
  background: #fff;
}

.conteudo .info {
  display: grid;
  text-align: right;
  padding: 40px;
  align-content: center;
  justify-items: end;
  gap: 20px;
  position: relative;
}

hr {
  width: 60px;
  height: 4px;
  position: absolute;
  background: #ee2211;
  top: 20px;
  right: -30px;
  z-index: 1;
  border-style: none;
}

h2 {
  margin: 0;
  font-size: 32px;
}

p {
  font-size: 20px;
  margin: 0;
}

.info .btn-VerMais {
  background: #ee2211;
  color: white;
  text-transform: uppercase;
}

.foto img {
  max-width: 100%;
  position: relative;
}

.vantagensBikcraftTitulo {
  display: grid;
  align-items: center;
}

.vantagensBikcraftTitulo p {
  padding: 40px;
  font-size: 64px;
  text-align: right;
  color: #c6c6c6;
}

.vantagensBikcraft {
  background: #fff;
  display: grid;
  grid-template-columns: 2fr auto;
  padding: 40px;
}
.vantagensBikcraft .imgDescricao {
  display: grid;
  padding: 20px 10px 0 60px;
}

.rodape {
  background: white;
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
